{% extends 'base.html' %}

{% block content %}

<br>
<br>
<br>
<br> 

<div class="container" style="background-color: #f0f0f0; border-radius: 8px;">
    <div class="row">
        {% for marca in marcas %}
            <div class="col-md-3 m-auto">
                <div class="card" style="width: 16rem;">
                    <div class="card-body">
                        <h5>{{ marca.nome }}</h5>
                        <a href="{{ marca.link }}" class="btn btn-dark" target="_blank">Ver Celulares</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<footer class="footer">
    <div class="footer-section">
        <h3>Categorias</h3>
        <ul>
            <li><a href="#">Smartphones</a></li>
            <li><a href="#">Eletrônicos</a></li>
            <li><a href="#">Eletrodomésticos</a></li>
            <li><a href="#">Tablets</a></li>
            <li><a href="#">Áudio</a></li>
        </ul>
    </div>

    <div class="footer-section">
        <h3>Informações</h3>
        <ul>
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#">Informações de entrega</a></li>
            <li><a href="#">Política de privacidade</a></li>
            <li><a href="#">Termos e condições</a></li>
        </ul>
    </div>

    <div class="footer-section">
        <h3>Contate-nos</h3>
        <p>(13) 919281801</p>
        <p>dudashop@gmail.com</p>
        <p>Todos os dias da semana, das 18:30 às 23:00</p>
    </div>

    <div class="footer-section">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" class="footer-logo">
    </div>
</footer>

{% endblock content %}